<h1 align="center">Fetch API from URL</h1>

<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only" id="loading">Loader...</span>
  </div>
</div>
<table id="tab" class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let e of products">
      <td>{{e.id}}</td>
      <td>{{e.title}}</td>
    </tr>
  </tbody>

</table>
<!--<router-outlet></router-outlet>-->
